<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-light bg-light px-4">
      <span class="navbar-brand mb-0 h1">The Watchlist 👀</span>
      <%=link_to "Add a new list", new_list_url, class: "pull-right btn btn-primary"%>
      </nav>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
